# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json

# Build artifacts
backend/metro
*.out
*.exe
*.o

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
